body {
  background-color: #031011;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .head {
  padding: 5px;
  margin-bottom: 10px;
}
.container .head .row {
  display: flex;
}
.container .head .row .col {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}
.container .head h4 {
  font-weight: normal;
  padding-bottom: 5px;
}
.container .head span {
  font-size: 12px;
  margin-right: 10px;
}
.container .head span:before {
  content: "";
  width: 25px;
  height: 2px;
  display: inline-block;
  margin-right: 5px;
}
.container .head span.cos:before {
  background-color: #FF3CFF;
}
.container .head span.sin:before {
  background-color: #A0FFFF;
}
.container .head input {
  width: 70%;
  margin-top: 5px;
  cursor: pointer;
}
.container canvas {
  border: 3px solid #394244;
  border-radius: 5px;
}
