body 
	background-color: #031011
	font-family: 'Montserrat', sans-serif
	color: #ccc

h1, h2, h3, h4, h5, h6 
	padding: 0px
	margin: 0px
	
.container 
	max-width: 500px
	margin-left: auto
	margin-right: auto
	top: 50%
	left: 50%
	position: absolute
	transform: translate(-50%, -50%)
	.head
		padding: 5px
		margin-bottom: 10px
		.row
			display: flex
			.col
				display: flex
				flex-direction: column
				width: 50%
				padding: 5px
		h4
			font-weight: normal
			padding-bottom: 5px
		span
			font-size: 12px
			margin-right: 10px
			
			&:before 
				content: ""
				width: 25px
				height: 2px
				display: inline-block
				margin-right: 5px
					
			&.cos:before
				background-color: #FF3CFF
	
			&.sin:before
				background-color: #A0FFFF
		input
			width: 70%
			margin-top: 5px
			cursor: pointer
	canvas 
		border: 3px solid #394244
		border-radius: 5px